@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

html {
    font-size: 12px;
    font-family: Barlow Semi Condense, sans-serif;
    background-color: hsl(0, 0%, 81%);
}

/*-----main general setup-------*/

main {
    display: grid;
    width: 90%;
    height: 80%;
    max-width: 100%;
    margin: 4% 5%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-template-areas: 
    "testimonial1 testimonial1 testimonial2 testimonial5"
    "testimonial3 testimonial4 testimonial4 testimonial5";
    border-radius: 10px;
    box-shadow: 10px 20px 12px 5px rgba(100, 99, 99, 0.5);
    background-color: hsl(0, 0%, 81%);
}

@media(max-width: 700px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "testimonial1 testimonial2"
        "testimonial3 testimonial4"
        "testimonial5 testimonial5";
    }

}

@media(max-width: 600px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "testimonial1"
        "testimonial2"
        "testimonial3"
        "testimonial4"
        "testimonial5";
    }

}

img {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
}

/*-----testimonial header setup-----*/

.testimonial-header {
    display: flex;
    flex-direction: row;
}

.testimonial-name {
    display: grid;
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 6px;
    padding-left: 5px;
    z-index: 3;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.p1 {
    grid-row: 1/2;
    align-self: end;
    margin-top: 8px;
    font-weight: 600;
}

.p2 {
    grid-row: 2/3;
    align-self: start;
    margin-top: -10px;
    font-size: 12px;
    font-weight: 500;
}

/*---individual testimonial----*/

/*---box one-----*/

#box1 {
    padding: 10px 20px;
    max-width: 100%;
    grid-area: testimonial1;
    border-radius: 10px;
    text-align: justify;
    background-color: hsl(263, 55%, 52%);
}

#box1 #logo {
    position: absolute;
    left: 34%;
    top: 8%;
    width: 100px;
    height: 100px;
    z-index: 1;
    border-radius: 0px;
}

@media(max-width: 900px) {
    #box1 #logo {
        left: 25%;
    }
}

@media(max-width: 700px) {
    #box1 #logo {
        left: 25%;
    }
}

@media(max-width: 600px) {
    #box1 #logo {
        left: 60%;
    }
}

#box1 .p1 {
    color: hsl(0, 0%, 100%);
}

#box1 .p2 {
    color: rgba(100%, 100%, 100%, 0.5);
}

#box1 .firts-p-testimonial {
    position: relative;
    z-index: 2;
    text-align: left;
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-weight: 600;
}

#box1 .second-p-testimonial {
    color: rgba(100%, 100%, 100%, 0.5);
    font-weight: 500;
}

/*---box two-----*/

#box2 {
    padding: 10px 20px;
    max-width: 100%;
    grid-area: testimonial2;
    border-radius: 10px;
    text-align: justify;
    background-color: hsl(217, 19%, 35%);
}

#box2 .p1 {
    color: hsl(0, 0%, 100%);
}

#box2 .p2 {
    color: rgba(100%, 100%, 100%, 0.5);
}

#box2 .firts-p-testimonial {
    text-align: left;
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-weight: 600;
}

#box2 .second-p-testimonial {
    color: rgba(100%, 100%, 100%, 0.5);
    font-weight: 500;
}

/*---box three-----*/

#box3 {
    padding: 10px 20px;
    max-width: 100%;
    grid-area: testimonial3;
    border-radius: 10px;
    text-align: justify;
    background-color: hsl(0, 0%, 100%);
}

#box3 .p1 {
    color: hsl(219, 29%, 14%);
}

#box3 .p2 {
    color: rgba(24, 23, 66, 0.5);
}

#box3 .firts-p-testimonial {
    text-align: left;
    color: hsl(219, 29%, 14%);
    font-size: 15px;
    font-weight: 600;
}

#box3 .second-p-testimonial {
    color: rgba(24, 23, 66, 0.5);
    font-weight: 500;
}

/*---box four-----*/

#box4 {
    padding: 10px 20px;
    max-width: 100%;
    grid-area: testimonial4;
    border-radius: 10px;
    text-align: justify;
    background-color: hsl(219, 29%, 14%);
}

#box4 .p1 {
    color: hsl(0, 0%, 100%);
}

#box4 .p2 {
    color: rgba(100%, 100%, 100%, 0.5);
}

#box4 .firts-p-testimonial {
    text-align: left;
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-weight: 600;
}

#box4 .second-p-testimonial {
    color: rgba(100%, 100%, 100%, 0.5);
    font-size: 11px;
    font-weight: 500;
}

/*---box five-----*/

#box5 {
    padding: 10px 20px;
    max-width: 100%;
    grid-area: testimonial5;
    border-radius: 10px;
    text-align: justify;
    background-color: hsl(0, 0%, 100%);
}

#box5 .p1 {
    color: hsl(219, 29%, 14%);
}

#box5 .p2 {
    color: rgba(24, 23, 66, 0.5);
}

#box5 .firts-p-testimonial {
    text-align: left;
    color: hsl(219, 29%, 14%);
    font-size: 17px;
    font-weight: 600;
}

#box5 .second-p-testimonial {
    color: rgba(24, 23, 66, 0.5);
    font-weight: 500;
}

/*----end individual testimonial area----*/

/*----footer area----*/
