@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

html {
    font-size: 13px;
    font-family: Barlow+Semi+Condense, sans-serif;
    background-color: hsl(0, 0%, 81%);
}

/*-----main general setup-------*/

main {
    display: grid;
    width: 90%;
    height: 80vh;
    max-width: 100%;
    margin: 5% 5%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-template-areas: 
    "testimonial1 testimonial1 testimonial2 testimonial5"
    "testimonial3 testimonial4 testimonial4 testimonial5";
    border-radius: 10px;
    box-shadow: 10px 20px 12px 5px rgba(100, 99, 99, 0.5);
    background-color: hsl(0, 0%, 81%);
}

img {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
}

/*-----testimonial header setup-----*/

.testimonial-header {
    display: flex;
    flex-direction: row;
}

.testimonial-name {
    display: grid;
    width: 100%;
    height: 50px;
    margin-top: 6px;
    padding-left: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.p1 {
    grid-row: 1/2;
    align-self: end;
    margin-top: 8px;
    font-weight: 600;
}

.p2 {
    grid-row: 2/3;
    align-self: start;
    margin-top: -10px;
    font-weight: 500;
}

/*---individual testimonial----*/

#box1 {
    padding: 10px 20px;
    max-width: 100%;
    grid-area: testimonial1;
    border-radius: 10px;
    text-align: justify;
    background-color: hsl(263, 55%, 52%);
}

#box2 {
    padding: 10px 20px;
    max-width: 100%;
    grid-area: testimonial2;
    border-radius: 10px;
    text-align: justify;
    background-color: hsl(217, 19%, 35%);
}

#box3 {
    padding: 10px 20px;
    max-width: 100%;
    grid-area: testimonial3;
    border-radius: 10px;
    text-align: justify;
    background-color: hsl(0, 0%, 100%);
}

#box4 {
    padding: 10px 20px;
    max-width: 100%;
    grid-area: testimonial4;
    border-radius: 10px;
    text-align: justify;
    background-color: hsl(219, 29%, 14%);
}

#box5 {
    padding: 10px 20px;
    max-width: 100%;
    grid-area: testimonial5;
    border-radius: 10px;
    text-align: justify;
    background-color: hsl(0, 0%, 100%);
}